*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto",sans-serif;
}

h1{
    font-size: $header1;
    font-weight: bold;
}

h2{
    font-size: $header2;
}

h3{
    font-size: 2.5rem;
}

p{
    color: $text-color;
}

p,li,a{
    font-size: $text;
    font-weight: 400;
}

li,a,button{
    text-decoration: none;
    list-style: none;
    border: none;
}


/*Veel gebruikte content*/
.red {
    color: $red-color;
  }
  .green {
    color: $green-color;
  }
  .yellow {
    color: $yellow-color;
  }
.white-space{
    margin: 15rem 0;
}
.content-title{
    text-align: center;
    margin: 4rem;
    padding: 5rem;
}


.button{
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
    background: $blue-color;
    padding: 1.5rem 6rem;
    margin: 2rem 0;
    color: white;
}

.button:hover{
    transition: all 0.3s ease;
    background: #007BFF;
}

.button-link{
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
    background: $blue-color;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
    color: white;
    cursor: pointer;
}

.button-link:hover{
    transition: all 0.3s ease;
    background: #007BFF;
    cursor: pointer;
}

