/*Navbar*/
header {
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 2rem;
    display: flex;
    z-index: 1;
}
/*Navigation Bar*/
.navigation-bar{
    padding: 2rem;
    width: 80%;
    margin: auto;
    @include flex(center,center,row);
    flex-wrap: wrap;
}

.nav-links{
    @include flex(space-around,	center,row);
    flex: 1 1 20rem;
    li{
        margin: 2rem;
    }
    a{
        color: $text-color;
        font-size: 2rem;
    }
    a:hover{
        font-weight: bold;
        transition: all 0.3s ease;
    }
}

/*Styles after scroll*/
.scrolling-active {
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }

.logo{
    flex: 2 1 20rem;
    cursor: pointer;
}

/*Hero Section*/
#hero{
    height: 75vh;
    margin: auto;
    width: 80%;
    @include flex(center,center,row);
    flex-wrap: wrap;
}

.hero-text{
    flex: 1 1 20rem;
    p{
        margin: 3.5rem 0;
        .red{
            color: $red-color;
        }
        .green{
            color: $green-color;
        }
        .yellow{
            color: $yellow-color;
        }
    }
}

.hero-image{
    margin-left: 5rem;
    flex: 1 1 40rem;
    img{
        width: 100%;
    }
}


    /*Burger Menu*/
    .burger {
      position: relative;
      display: block;
      cursor: pointer;
    }
  
    .burger span {
      padding: 0.2rem 2rem;
      background: $text-color;
      margin: 0.5rem;
      display: block;
      transition: all 0.5s ease;
    }
  
    .nav-links a {
      color: $text-color;
      text-decoration: underline;
      font-size: 1.5rem;
    }
    .nav-links {
      background: $gray-color;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      flex-direction: column;
      align-items: center;
      transition: transform 1s ease;
    }
    .nav-open {
      transform: translate(-100%);
    }
  
    .toggle .line1 {
      transform: rotateZ(45deg) translateY(300%);
      background-color: $text-color;
    }
  
    .toggle .line3 {
      transform: rotateZ(-45deg) translateY(-300%);
      background-color: $text-color;
    }
    .toggle .line2 {
      opacity: 0;
    }