/*Import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Globals*/
/*Colors*/
/*Functions*/
/*Import stylen*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto",sans-serif;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  color: #637282;
}

p, li, a {
  font-size: 2.5rem;
  font-weight: 400;
}

li, a, button {
  text-decoration: none;
  list-style: none;
  border: none;
}

/*Veel gebruikte content*/
.red {
  color: #E1382B;
}

.green {
  color: #189E59;
}

.yellow {
  color: #FBBC12;
}

.white-space {
  margin: 15rem 0;
}

.content-title {
  text-align: center;
  margin: 4rem;
  padding: 5rem;
}

.button {
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
  background: #2F5BE7;
  padding: 1.5rem 6rem;
  margin: 2rem 0;
  color: white;
}

.button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #007BFF;
}

.button-link {
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
  background: #2F5BE7;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  color: white;
  cursor: pointer;
}

.button-link:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #007BFF;
  cursor: pointer;
}

/*Navbar*/
header {
  background: white;
  width: 100%;
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

/*Navigation Bar*/
.navigation-bar {
  padding: 2rem;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.nav-links li {
  margin: 2rem;
}

.nav-links a {
  color: #637282;
  font-size: 2rem;
}

.nav-links a:hover {
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*Styles after scroll*/
.scrolling-active {
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
  cursor: pointer;
}

/*Hero Section*/
#hero {
  height: 100vh;
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.hero-text p {
  margin: 3.5rem 0;
}

.hero-image {
  margin-left: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.hero-image img {
  width: 100%;
}

/*Burger Menu*/
.burger {
  position: relative;
  display: block;
  cursor: pointer;
}

.burger span {
  padding: 0.2rem 2rem;
  background: #637282;
  margin: 0.5rem;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links a {
  color: #637282;
  text-decoration: underline;
  font-size: 1.5rem;
}

.nav-links {
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.nav-open {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.toggle .line1 {
  -webkit-transform: rotateZ(45deg) translateY(300%);
          transform: rotateZ(45deg) translateY(300%);
  background-color: #637282;
}

.toggle .line3 {
  -webkit-transform: rotateZ(-45deg) translateY(-300%);
          transform: rotateZ(-45deg) translateY(-300%);
  background-color: #637282;
}

.toggle .line2 {
  opacity: 0;
}

#overview-cards {
  height: 135vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem;
  text-align: center;
  width: 375px;
  height: 500px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);
}

.card p {
  padding: 2rem;
}

footer {
  height: 30vh;
  background: #FAFAFA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p {
  font-weight: bold;
  margin: 2rem 0;
}

@media screen and (max-width: 960px) {
  #overview-cards {
    display: none;
  }
}

/*===Assignments===*/
.assignments {
  margin: auto;
  width: 80%;
  height: 300vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assignments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Assignment*/
.assignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.assignment-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  margin: 0 2rem;
}

.assignment-text p {
  margin: 2rem 0;
}

.assignment-image {
  background: url("../images/assignment.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.assignment-video {
  height: 500px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border: none;
}

/*===Research===*/
#research {
  height: 150vh;
  background: #FAFAFA;
}

.research-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 80%;
}

.research-container {
  margin: 2rem;
}

.research-image {
  background: url("../images/research.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.reflectie-content {
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 960px) {
  /*===Assigments===*/
  .assignments {
    margin: auto;
    width: 100%;
  }
  .assignment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .assignment .assignment-image {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 40rem;
            flex: 2 1 40rem;
  }
}

#skills-card {
  margin: auto;
  width: 90%;
}

#skills-card .content-title {
  text-align: center;
  margin: 5rem;
}

.skills-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50vh;
}

.skill-card {
  background: green;
  height: 300px;
}

.skills-card .skill-card {
  width: 800px;
  margin: 0 auto;
}

.skills-card .skill-card H4 {
  color: white;
  font-size: 4rem;
  text-align: center;
  border-bottom: 10px solid yellow;
}

.skills-card .skill-card ul {
  padding: 20px;
}

.skills-card .skill-card ul li {
  list-style-type: none;
  color: white;
}

.slider-arrow {
  padding: 10px;
  font-size: 64px;
  color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-arrow:hover {
  cursor: pointer;
  color: green;
}

@media screen and (max-width: 960px) {
  .skills-card .skill-card {
    width: 300px;
  }
}

/*Responsive*/
@media screen and (max-width: 960px) {
  /*Algemeen*/
  html {
    font-size: 50%;
  }
  .navigation-bar {
    width: 90%;
  }
  .hero-image {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */